.BlogCard {
    max-width: 50em;
    width:10em;
    height: 10em;
    position: absolute;
    font-family: 'Droid Serif', serif;
    color:#fff;
    top: 20%;
    right: 0;  
    left: 0;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 0px;
    box-shadow: 0px 10px 20px -9px rgba(0, 0, 0, 0.5);
    text-align: center;
    transition:all 0.4s;
    /* background: url(https://unsplash.it/600/800?image=1061) center no-repeat; */
    background-size: 100%;
  }